$white: #ffffff;
$black: #000000;
$off-white: #f0f1f3;
$grey-1: #d6d6d6;
$grey-2: #b5b5ba;
$grey-3: #9e9ea8;
$grey-5: #4a4a4f;
$grey-6: #737373;
$grey-black-1: #090a0a;
$grey-black-2: #272729;
$takis-red: #dc1f3e;
$gmo-peach: #dc5547;
$golden-rod: #fcb316;
$golden-brown: #e6a315;
$pool-party: #1388c0;
$chatty-cathy: #70bedf;
$fomo: #24c07c; 
$pee: #FEC010;